// Version Information for Cygwin/Msys connector

#include <windows.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_N
 PRODUCTVERSION VERSION_N
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "ConEmu-Maximus5\0"
            VALUE "LegalCopyright", "© ConEmu.Maximus5@gmail.com"
            VALUE "FileDescription", "Cygwin/Msys connector\0"
            VALUE "FileVersion", VERSION_S VER_NAME
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
